In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/available_tables.csv")

In [3]:
df

,Year,متوسط هزینه ی ناخالص سالانه یک خانوار به تفکیک گروه های مختلف هزینه,درصد تغییر متوسط هزینه ناخالص سالانه یک خانوار به تفکیک گروه های مختلف هزینه,متوسط هزینه خالص سالانه یک خانوار به تفکیک گروه های مختلف هزینه,درصد تغییر متوسط هزینه خالص یک خانوار به تفکیک گروه های مختلف هزینه,متوسط هزینه ناخالص سالانه زیرگروه های خوراکی ها، آشامیدنی ها و دخانیات,متوسط مقدار مصرف سالانه برخی اقلام خوراکی ها، آشامیدنی ها و دخانیات یک خانوار,متوسط هزینه ناخالص سالانه زیرگروه های غیرخوراکی,متوسط درآمد ناخالص سالانه یک خانوار و سهم گروه های مختلف درآمد,درصد تغییر متوسط درآمد ناخالص سالانه یک خانوار به تفکیک گروه های مختلف درآمد,...,درصد توزیع افراد شش ساله وبیشتر خانوارها بر حسب وضع فعالیت,درصد توزیع افراد شش ساله و بیشتر خانوارها به تفکیک جنسیت بر حسب وضع فعالیت,درصد توزیع خانوارها بر حسب تعداد شاغلین,درصد توزیع افراد شاغل خانوار بر حسب رشته فعالیت محل کار,درصد توزیع افراد شاغل خانوار بر حسب وضعیت شغلی,درصد توزیع خانوارها بر حسب نحوه تصرف مسکن,درصد توزیع محل سکونت خانوارها بر حسب نوع مصالح عمده به کار رفته در ساختمان,درصد توزیع خانوارها بر حسب تعداد اتاق های مورد استفاده خانوار,درصد خانوارهای استفاده کننده از تسهیلات محل سکونت,درصد خانوارهای استفاده کننده از لوازم زندگی
0,1380,جدول شماره ۱,جدول شماره ۲,جدول شماره ۳,جدول شماره ۴,جدول شماره ۵,جدول شماره ۶,جدول شماره ۷,جدول شماره ۸,جدول شماره ۹,...,جدول شماره ۱۸,جدول شماره ۱۹,جدول شماره ۲۰,جدول شماره ۲۱,جدول شماره ۲۳,جدول شماره ۲۴,جدول شماره ۲۵,جدول شماره ۲۶,جدول شماره ۲۷,جدول شماره ۲۸
1,1390,جدول شماره ۱,جدول شماره ۲,جدول شماره ۳,جدول شماره ۴,جدول شماره ۵,جدول شماره ۶,جدول شماره ۷,جدول شماره ۸,جدول شماره ۹,...,جدول شماره ۱۸,جدول شماره ۱۹,جدول شماره ۲۰,جدول شماره ۲۱,جدول شماره ۲۳,جدول شماره ۲۴,جدول شماره ۲۵,جدول شماره ۲۶,جدول شماره ۲۷,جدول شماره ۲۸
2,1400,جدول شماره ۱,جدول شماره ۲,جدول شماره ۳,جدول شماره ۴,جدول شماره ۵,جدول شماره ۶,جدول شماره ۷,جدول شماره ۸,جدول شماره ۹,...,جدول شماره ۱۶,NaN,جدول شماره ۱۷,جدول شماره ۱۸,جدول شماره ۱۹,جدول شماره ۲۰,جدول شماره ۲۱,جدول شماره ۲۲,جدول شماره ۲۳,جدول شماره ۲۴
3,1402,جدول شماره ۱,جدول شماره ۲,جدول شماره ۳,جدول شماره ۴,جدول شماره ۵,جدول شماره ۶,جدول شماره ۷,جدول شماره ۸,جدول شماره ۹,...,جدول شماره ۱۶,NaN,جدول شماره ۱۷,جدول شماره ۱۸,جدول شماره ۱۹,جدول شماره ۲۰,جدول شماره ۲۱,جدول شماره ۲۲,جدول شماره ۲۳,جدول شماره ۲۴

In [7]:
for i in df.columns[df.isna().any()]:
    print(i)

درصد توزیع افراد شش ساله و بیشتر خانوارها به تفکیک جنسیت بر حسب میزان سواد
درصد توزیع افراد شش ساله و بیشتر خانوارها به تفکیک جنسیت بر حسب وضع فعالیت

In [349]:
import os
import re


col_map = {
    'جمع کل هزینه ناخالص': 'Total_expense',
    'خوراکیها،آشامیدنیها و دخانیات': 'Food_beverages_tobacco',
    'خوراکی ها و آشامیدنی ها': 'Food_beverages',
    'دخانیات': 'Tobacco',
    'پوشاک و کفش': 'Clothing_footwear',
    'مسکن ، آب ، برق و سوخت': 'Housing_utilities_fuel',
    'لوازم، اثاث وخدمات مورد استفاده درخانه': 'Furniture_household_services',
    'درمان و بهداشت': 'Health',
    'حمل و نقل و ارتباطات': 'Transport_communication',
    'حمل و نقل': 'Transport',
    'ارتباطات': 'Communication',
    'تفریح،سرگرمی،تحصیل وخدمات فرهنگی': 'Recreation_education_culture',
    'تفریح و سرگرمی': 'Recreation_entertainment',
    'تحصیل و خدمات فرهنگی': 'Education_cultural_services',
    'کالاها و خدمات متفرقه': 'Misc_goods_services'
}

desired_column_number = 1


def find_all_table_number(years, desired_column_number):
    dfs = {} 
    for i in years:
        for j in os.listdir(f"Data/CSV_Files/{i}"):
            num = int(re.search(r'^جدول_شماره_(\d+)', j).group(1))   
            if num == desired_column_number:
                file_name = pd.read_csv(f"Data/CSV_Files/{i}/{j}")
                dfs[i] = file_name
    return dfs
                
def transpose(df):
    df = df.dropna(how='all')

    first_col = df.iloc[:, 0].astype(str).str.strip()
    # condition: 4 digits, starting with 13 or 14
    ok = first_col.str.fullmatch(r'(13|14)\d{2}').all()
    # first_col = df.iloc[:, 0].astype(str).str.strip()
    # ok = first_col.str.fullmatch(r'(13|14)\d{2}').all()
    
    
    if ("سال" in df.columns) and pd.to_numeric(df["سال"], errors="coerce").notna().all():
        print(2)
        df.rename(columns={"سال": 'year'}, inplace=True)
        cols = ["year"] + [c for c in df.columns if c != "year"]
        df = df[cols]
        return df

    elif not ok:
        print(1)
        df = df.set_index(df.columns[0]).T
        df.index = df.index.astype(str).str.extract(r'(\d+)', expand=False).astype('Int64')
        df = df.reset_index().rename(columns={"index": 'year'})
        df = df.dropna(axis=1, how='all')
        return df

    else:
        print(3)
        df.rename(columns={df.columns[0]: 'year'}, inplace=True)
        df = df.reset_index().drop(columns='index')
        return df


def remove_number_prefix(df: pd.DataFrame) -> pd.DataFrame:
    """
    Remove leading 'number-' patterns like '2-' or '12-' from all column names.
    Returns a new DataFrame (original is unchanged).
    """
    new_df = df.copy()
    new_df.columns = new_df.columns.str.replace(r'^\s*\d+\s*-\s*', '', regex=True)
    return new_df


def get_tabel_year(year,desired_column_number):
    all_table = find_all_table_number([1380, 1390, 1400, 1402],desired_column_number)
    df = all_table[year]
    df = transpose(df)
    df = remove_number_prefix(df)
    df = df.rename(columns=col_map)
    return df

In [335]:
# all_table = find_all_table_number([1380],17)
# df = all_table[1380]
# df

In [355]:
all_table = find_all_table_number([1390],13)
df = all_table[1390]
# df = transpose(df)
# df = remove_number_prefix(df)
df
# df.reset_index().

,تعداد افراد خانوار,کل,یک نفر,دو نفر,سه نفر,چهار نفر,پنج نفر,شش نفر,هفت نفر,هشت نفر,نه نفر,ده نفر و بیشتر
0,1381,100.0,4.2,10.6,17.3,24.5,17.9,11.8,7.0,3.5,1.7,1.5
1,1382,100.0,4.4,12.0,17.8,22.8,18.5,11.6,6.8,3.2,1.4,1.5
2,1383,100.0,4.6,12.2,20.6,26.1,17.2,9.8,5.0,2.5,1.1,0.9
3,1384,100.0,4.5,12.3,20.8,26.7,17.8,9.3,4.7,2.2,1.0,0.7
4,1385,100.0,5.0,12.0,21.6,27.1,16.9,9.3,4.2,2.2,1.0,0.7
5,1386,100.0,5.0,12.7,21.9,28.6,16.8,8.4,3.7,1.6,0.8,0.5
6,1387,100.0,5.3,13.8,22.8,28.4,16.1,7.8,3.2,1.6,0.6,0.4
7,1388,100.0,5.8,15.2,23.7,27.8,15.4,6.9,3.0,1.3,0.5,0.4
8,1389,100.0,6.6,14.3,24.3,28.8,15.3,6.4,2.6,1.0,0.4,0.3
9,1390,100.0,5.7,17.5,27.8,28.2,12.8,4.8,2.0,0.6,0.3,0.3
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,جدول شماره ۱۶ درصد توزیع افراد شش ساله و بیشتر...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [354]:
df = df.set_index(df.columns[0]).T
# df.index = df.index.astype(str).str.extract(r'(\d+)', expand=False).astype('Int64')
# df = df.reset_index().rename(columns={"index": 'year'})
# df = df.dropna(axis=1, how='all')
df

تعداد افراد خانوار,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,NaN,NaN,NaN,NaN,NaN,جدول شماره ۱۶ درصد توزیع افراد شش ساله و بیشتر خانوارها به تفکیک جنسیت بر حسب میزان سواد
کل,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
یک نفر,4.2,4.4,4.6,4.5,5.0,5.0,5.3,5.8,6.6,5.7,NaN,NaN,NaN,NaN,NaN,NaN
دو نفر,10.6,12.0,12.2,12.3,12.0,12.7,13.8,15.2,14.3,17.5,NaN,NaN,NaN,NaN,NaN,NaN
سه نفر,17.3,17.8,20.6,20.8,21.6,21.9,22.8,23.7,24.3,27.8,NaN,NaN,NaN,NaN,NaN,NaN
چهار نفر,24.5,22.8,26.1,26.7,27.1,28.6,28.4,27.8,28.8,28.2,NaN,NaN,NaN,NaN,NaN,NaN
پنج نفر,17.9,18.5,17.2,17.8,16.9,16.8,16.1,15.4,15.3,12.8,NaN,NaN,NaN,NaN,NaN,NaN
شش نفر,11.8,11.6,9.8,9.3,9.3,8.4,7.8,6.9,6.4,4.8,NaN,NaN,NaN,NaN,NaN,NaN
هفت نفر,7.0,6.8,5.0,4.7,4.2,3.7,3.2,3.0,2.6,2.0,NaN,NaN,NaN,NaN,NaN,NaN
هشت نفر,3.5,3.2,2.5,2.2,2.2,1.6,1.6,1.3,1.0,0.6,NaN,NaN,NaN,NaN,NaN,NaN
نه نفر,1.7,1.4,1.1,1.0,1.0,0.8,0.6,0.5,0.4,0.3,NaN,NaN,NaN,NaN,NaN,NaN
ده نفر و بیشتر,1.5,1.5,0.9,0.7,0.7,0.5,0.4,0.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
first_col = df.iloc[:, 0].astype(str).str.strip()
first_col.values.tolist()
    
# condition: 4 digits, starting with 13 or 14
# ok = first_col.str.fullmatch(r'(13|14)\d{2}').all()
# ok

['1381',
 '1382',
 '1383',
 '1384',
 '1385',
 '1386',
 '1387',
 '1388',
 '1389',
 '1390',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'جدول شماره ۱۶ درصد توزیع افراد شش ساله و بیشتر خانوارها به تفکیک جنسیت بر حسب میزان سواد']

In [342]:
first_col = df.iloc[:, 0].astype(str)
# condition: 4 digits, starting with 13 or 14
first_col
ok = first_col.str.fullmatch(r'(13|14)\d{2}').all()
ok

np.False_

In [ ]:
    first_col = df.reset_index().iloc[:, 0].astype(str)
    # condition: 4 digits, starting with 13 or 14
    ok = first_col.str.fullmatch(r'(13|14)\d{2}').all()
    if not ok:
        df = df.set_index(df.columns[0]).T
        df.index = df.index.astype(str).str.extract(r'(\d+)', expand=False).astype('Int64')
        df.index.name = 'year' 
    else:
        df.columns[0] = 'year'
    return df

In [124]:
t = pd.read_csv("Data/CSV_Files/1380/جدول_شماره_۱۳-درصد_توزیع_خانوارها_بر_حسب_تعداد_افراد_خانوار.csv")
t

,تعداد افراد خانوار,کل,یک نفر,دو نفر,سه نفر,چهارنفر,پنج نفر,شش نفر,هفت نفر,هشت نفر,نه نفر,ده نفروبیشتر
0,1371,100,4.4,9.4,12.7,18.6,17.3,15.1,10.0,6.4,3.5,2.6
1,1372,100,4.1,9.9,13.1,17.9,18.2,14.9,9.5,5.6,3.5,3.3
2,1373,100,4.0,10.4,13.3,18.1,17.6,15.6,9.4,6.1,3.3,2.2
3,1374,100,4.3,10.4,14.9,18.8,18.0,13.4,9.4,5.1,3.1,2.6
4,1375,100,4.3,11.1,14.7,17.9,18.2,13.8,9.0,5.3,3.6,2.1
5,1376,100,4.2,11.6,16.7,19.2,17.8,13.3,8.1,4.7,2.4,2.0
6,1377,100,3.9,9.6,15.9,22.3,19.5,13.2,7.3,4.5,2.0,1.8
7,1378,100,4.2,10.9,16.6,22.3,17.3,12.1,7.9,4.3,2.4,2.0
8,1379,100,4.5,11.0,16.1,21.1,18.5,12.2,7.9,4.5,2.3,1.9
9,1380,100,4.5,10.3,16.7,21.9,18.6,12.8,7.4,3.7,2.1,2.0

In [116]:
all_cols

['جمع کل هزینه ناخالص',
 'خوراکیها،آشامیدنیها و دخانیات',
 'خوراکی ها و آشامیدنی ها',
 'دخانیات',
 'پوشاک و کفش',
 'مسکن ، آب ، برق و سوخت',
 'لوازم، اثاث وخدمات مورد استفاده درخانه',
 'درمان و بهداشت',
 'حمل و نقل و ارتباطات',
 'حمل و نقل',
 'ارتباطات',
 'تفریح،سرگرمی،تحصیل وخدمات فرهنگی',
 'تفریح و سرگرمی',
 'تحصیل و خدمات فرهنگی',
 'کالاها و خدمات متفرقه',
 'جمع کل هزینه ناخالص',
 'خوراکی ها ، آشامیدنی ها و دخانیات',
 'خوراکی ها و آشامیدنی ها',
 'دخانیات',
 'پوشاک و کفش',
 'مسکن ، آب ، برق و سوخت',
 'لوازم ، اثاث و خدمات مورد استفاده در خانه',
 'درمان و بهداشت',
 'حمل و نقل و ارتباطات',
 'حمل و نقل',
 'ارتباطات',
 'تفریح ، سرگرمی ، تحصیل و خدمات فرهنگی',
 'تفریح و سرگرمی',
 'تحصیل و خدمات فرهنگی',
 'کالاها و خدمات متفرقه',
 'جمع کل هزینه خالص',
 'خوراکی ها، آشامیدنی ها ودخانیات',
 'خوراکی ها وآشامیدنی ها',
 'دخانیات',
 'پوشاک و کفش',
 'مسکن،آب،برق وسوخت',
 'لوازم،اثاث وخدمات مورد استفاده درخانه',
 'درمان و بهداشت',
 'حمل و نقل و ارتباطات',
 'حمل و نقل',
 'ارتباطات',
 'تفریح،سرگرمی،تحصیل وخدمات فرهنگی',
 'تفریح و سرگرمی',
 'تحصیل وخدمات فرهنگی',
 'کالاها و خدمات متفرقه',
 'جمع کل هزینه خالص',
 'خوراکی ها ، آشامیدنی ها و دخانیات',
 'خوراکی ها و آشامیدنی ها',
 'دخانیات',
 'پوشاک و کفش',
 'مسکن ، آب ، برق و سوخت',
 'لوازم ، اثاث و خدمات مورد استفاده در خانه',
 'درمان و بهداشت',
 'حمل و نقل و ارتباطات',
 'حمل و نقل',
 'ارتباطات',
 'تفریح ، سرگرمی ، تحصیل و خدمات فرهنگی',
 'تفریح و سرگرمی',
 'تحصیل و خدمات فرهنگی',
 'کالاها و خدمات متفرقه',
 'خوراکی ها ، آشامیدنی ها و دخانیات',
 'آرد ، رشته و غلات',
 'آرد و رشته',
 'غلات',
 'انواع نان و بیسکویت',
 'انواع نان',
 'بیسکویت ،کیک ،شیرینی خشک و تر',
 'انواع گوشت',
 'گوشت دام',
 'گوشت پرندگان',
 'گوشت حیوانات دریایی',
 'شیر و فرآورده های آن و تخم پرندگان',
 'انواع شیر',
 'فرآورده های شیر',
 'تخم پرندگان',
 'روغن ها و چربی ها',
 'روغن ها و چربی های حیوانی',
 'انواع کره',
 'روغن های نباتی',
 'میوه های تازه',
 'میوه های درختی بجز مرکبات',
 'مرکبات',
 'میوه های جالیزی',
 'سبزی های تازه',
 'انواع سبزی های برگی',
 'انواع سبزی های بوته ای',
 'انواع سبزی های ریشه ای',
 'خشکبار و آجیل',
 'حبوب',
 'انواع کمپوت میوه و کنسرو سبزی',
 'قند و شکر',
 'انواع شیرینی و مربا )بجز شیرینی خشک و تر (',
 'چای ، قهوه و کاکایو',
 'انواع ادویه ، سس ها و سایر ترکیبات خوراکی',
 'انواع نوشابه و غذاهای آماده',
 'نوشابه های خریداری شده برای مصرف در خانه',
 'غذاهای آماده خریداری شده برای مصرف درخانهو غذاهای آماده مصرف شده در خارج ازخانه',
 'نوشابه های مصرف شده در خارج از خانه',
 'دخانیات',
 'انواع برنج',
 'انواع نان',
 'گوشت دام',
 'گوشت پرندگان',
 'گوشت حیوانات دریایی',
 'انواع شیر',
 'انواع ماست',
 'انواع پنیر',
 'تخم مرغ',
 'روغن های نباتی',
 'انواع قند',
 'شکر',
 'انواع چای',
 'انواع سیگار ایرانی',
 'انواع سیگار خارجی',
 'غیر خوراک',
 'پوشاک و کفش',
 'پوشاک وتعمیرات آن',
 'انواع کفش و تعمیرات آن',
 'مسکن ، آب ، برق و سوخت',
 'اجاره بهای منزل مسکونی∗',
 'هزینه های مربوط به خدمات منزل مسکونی',
 'هزینه های تعمیرات منزل مسکونی',
 'آب ، برق و سوخت منزل مسکونی',
 'لوازم ، اثاث و خدمات مورد استفاده در خانه',
 'مبلمان ، اثاث ، فرش ، کفپوش و تعمیرات آن ها',
 'لوازم پارچه ای منزل و غیره',
 'وسایل حرارتی و پخت و پز،یخچال وسایر وسایل عمده',
 'ظروف،لوازم آشپزخانه و سایروسایل منزل و تعمیرات آن ها',
 'ظروف ، لوازم مصرفی بی دوام و کم دوام منزل',
 'خدمات خانگی',
 'درمان و بهداشت',
 'هزینه های بهداشتی و درمانی',
 'هزینه های بیمه های اجتماعی و درمانی',
 'حمل و نقل و ارتباطات',
 'خرید وسایل نقلیه شخصی وهزینه های مربوط به آن',
 'هزینه تعمیرات، نگهداری وسوخت وسایل نقلیه',
 'هزینه های مسافرت و رفت و آمد شهری',
 'ارتباطات',
 'تفریح ، سرگرمی ، تحصیل و خدمات فرهنگی',
 'تفریح و سرگرمی',
 'تحصیل و خدمات فرهنگی',
 'کالاها و خدمات متفرقه',
 'لوازم و خدمات بهداشتی و آرایشی شخصی',
 'لوازم التحریر',
 'لوازم شخصی و زینتی',
 'هزینه های هتل،مسافرخانه ومسافرت دسته جمعی',
 'خدمات مالی و حقوقی',
 'هزینه های مذهبی',
 'هزینه های مالیات و حق بازنشستگی',
 'سایر هزینه های متفرقه',
 'مجموع درآمد پولی وغیر پولی ناخالص',
 'درآمد پولی ناخالص',
 'درآمد از مزد وحقوق – بخش دولتی وعمومی',
 'درآمد از مزد وحقوق – بخش خصوصی',
 'درآمد از مشاغل آزاد کشاورزی',
 'درآمد از مشاغل آزاد غیر کشاورزی',
 'درآمدهای متفرقه',
 'درآمد حاصل ازفروش کالاهای دست دوم',
 'درآمد غیر پولی',
 'ارزش اجاری مسکن شخصی)مالک نشین(',
 'سایر',
 'مجموع درآمد پولی و غیر پولی ناخالص',
 'درآمد پولی ناخالص',
 'درآمد از مزد و حقوق – بخش دولتی و عمومی',
 'درآمد از مزد و حقوق – بخش خصوصی',
 'درآمد از مشاغل آزاد کشاورزی',
 'درآمد از مشاغل آزاد غیر کشاورزی',
 'درآمد های متفرقه',
 'درآمد حاصل از فروش کالاهای دست دوم',
 'درآمد غیر پولی',
 'ارزش اجاری مسکن شخصی )مالک نشین (',
 'سایر',
 'مجموع درآمد پولی وغیر پولی خالص',
 'درآمد پولی خالص',
 'درآمد از مزد و حقوق–بخش دولتی وعمومی',
 'درآمد از مزد وحقوق – بخش خصوصی',
 'درآمد از مشاغل آزاد کشاورزی',
 'درآمد از مشاغل آزاد غیر کشاورزی',
 'درآمدهای متفرقه',
 'درآمد غیر پولی',
 'ارزش اجاری مسکن شخصی)مالک نشین(',
 'سایر',
 'مجموع درآمد پولی و غیر پولی خالص',
 'درآمد پولی خالص',
 'درآمد از مزد و حقوق – بخش دولتی و عمومی',
 'درآمد از مزد و حقوق – بخش خصوصی',
 'درآمد از مشاغل آزاد کشاورزی',
 'درآمد از مشاغل آزاد غیر کشاورزی',
 'درآمد های متفرقه',
 'درآمد غیر پولی',
 'ارزش اجاری مسکن شخصی )مالک نشین (',
 'سایر',
 'متوسط تعداد افراد خانوار']